
.compado-products-container .header {
    background-color: #ff6f31;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.compado-product {
    background: #fff;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.compado-product h1 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.compado-product p {
    margin-bottom: 15px;
    color: #666;
    line-height: 1.5;
    font-weight: bold;
}

.compado-product .offer {
    background-color: #ffedd5;
    color: #ff6f31;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.compado-product .rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.compado-product .rating .star {
    width: 20px;
    margin-right: 5px;
}

.compado-product .rating span {
    font-weight: bold;
    font-size: 24px;
}


.compado-product .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compado-product .buttons .button {
    background-color: #ff6f31;
    color: white;
    border: none;
    padding: 15px 60px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    width: auto;
    text-transform: uppercase;
}

.compado-product .buttons .button.read-more {
    background-color: #ffffff;
    color: #ff6f31;
    border: 1px solid #ff6f31;
}


@media (max-width: 768px) {
    .compado-product {
        padding: 15px;
    }
    .compado-product .buttons .button {
        padding: 10px 15px;
    }
}
