
.compado-products-container .header {
    background-color: #ff6f31;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.compado-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 4px;
    overflow: hidden;
}

.compado-product .main-content {
    padding: 20px;
    display: flex;
    align-items: center;
}

.compado-product .logo {
    max-width: 100px;
    margin-right: 20px;
}

.compado-product h1 {
    margin: 0;
    color: #333333;
    font-size: 24px;
}

.compado-product p {
    font-size: 14px;
    color: #666666;
}

.compado-product .offer {
    background-color: #ffedd5;
    color: #ff6f31;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.compado-product .rating {
    display: flex;
    align-items: center;
}

.compado-product .rating .star {
    width: 20px;
    margin-right: 2px;
}

.compado-product .rating span {
    font-weight: bold;
    color: #ff6f31;
}

.compado-product .info-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.compado-product .info-icons img {
    max-width: 20px;
    margin-right: 10px;
}

.compado-product .buttons {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.compado-product .buttons .button {
    background-color: #ff6f31;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}


.compado-no-products {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #666666;
}


@media (max-width: 768px) {
    .compado-product {
        flex-direction: column;
    }

    .compado-product .main-content {
        flex-direction: column;
    }

    .compado-product .buttons {
        flex-direction: column;
    }

    .compado-product .buttons .button {
        width: 100%;
        margin-bottom: 10px;
    }
}
